body {
	display: flex;
	flex-flow: column;
	background-color: #ffffff;
}

.bookmarks-position {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}

#bookmarks-list {
	margin: auto;
}

.bookmark {
	display: block;
	margin: 16px;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 128px;
	transition: transform 0.1s;
}
	.bookmark:hover {
		transform: scale(1.2);
	}


.bookmark-title {
	text-overflow: ellipsis;
}

a {
	text-decoration: none;
	color: #0b56a1;
}
a:hover {
		color: #05315e;
	}
a:visited {
		color: #05315e;
	}


.settings-position {
	display: flex;
	flex-flow: row nowrap;
	margin-top: 14px;
	justify-content: flex-end;
}

.settings-button {
	color: #242526;
}
