body {
	display: flex;
	flex-flow: column;
	background-color: #ffffff;
}

.bookmarks-position {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}

#bookmarks-list {
	margin: auto;
}

.bookmark {
	display: block;
	margin: 16px;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 128px;
	transition: transform 0.1s;
	&:hover {
		transform: scale(1.2);
	}
}

.bookmark-title {
	text-overflow: ellipsis;
}

a {
	text-decoration: none;
	color: #0b56a1;
	&:hover {
		color: #05315e;
	}
	&:visited {
		color: #05315e;
	}
}

.settings-position {
	display: flex;
	flex-flow: row nowrap;
	margin-top: 14px;
	justify-content: flex-end;
}

.settings-button {
	color: #242526;
}

// #reactCss {
// 	width: 300px;
// 	height: 200px;
// 	border: 1px solid #ccc;
// 	padding: 5px;
// }
// 	.customize {
// 		display: inline-block;
// 		color: lightgray;
// 		grid-area: header;
// 		text-align: center;
// 		padding: 8px;
// 		transition: all 0.4s;

// 		&:hover {
// 			color: #292a2b;
// 			transition: all 0.4s;
// 		}
// 	}
// }

// .text {
// 	overflow: hidden;
// 	text-overflow: ellipsis;
// 	white-space: nowrap;
// 	margin-top: 0;
// 	text-align: center;
// 	font-family: Helvetica, sans-serif;
// }

// #reactCss {
// 	width: 100%;
// }
